:root {
  overflow-x: hidden;
}

body {
  background-color: #181a1b;
  width: 100vw;
}

svg {
  overflow: auto;
}

* {
  font-family: sans-serif;
  color: aliceblue;
}

a:visited {
  color: bisque;
}

div[aria-label="A chart."] {
  color: red;
}
